@model IEnumerable<EGrades.Models.StudentCertificate>

@{
    ViewData["Title"] = "Τα πιστοποιητικά μου";
}

<h1>Τα πιστοποιητικά μου</h1>

<hr />

@Html.ActionLink("Νέα Αίτηση", "New", "Certificate", null, new { @class = "btn btn-primary" })

<hr />

<div class="table-responsive">
    <table id="certificates-list-table" class="table table-bordered">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.FirstOrDefault().Certificate.Title)</th>
                <th>@Html.DisplayNameFor(model => model.FirstOrDefault().Status)</th>
                <th>@Html.DisplayNameFor(model => model.FirstOrDefault().RequestedDate)</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Certificate.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Status)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RequestedDate)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success alert-dismissible fade show">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>Επιτυχία!</strong> @TempData["SuccessMessage"]
    </div>
}

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger alert-dismissible fade show">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>Σφάλμα!</strong> @TempData["ErrorMessage"]
    </div>
}

<hr />

<a class="btn btn-primary" href="javascript:history.go(-1)" role="button">Πίσω</a>

@section scripts
{
    @{
        await Html.RenderPartialAsync("_ListLayout");

        <script>
            $(document).ready(function () {
                $('#certificates-list-table').DataTable({
                    "language": {
                        "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Greek.json"
                    }
                });
            });
        </script>
    }
}